<!DOCTYPE HTML>
<html>
  <head>
    <title>myPage1</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript"  src="/angular/angular.js"></script>
    <script type="text/javascript" src="https://l2.io/ip.js?var=myIP"></script>
    <script src="/momentjs/moment-2.11.0/moment.js"></script>
  </head>
  <body>
    <div>
      <!-- <img src="/resource/image/wo1.jpg"  /> -->
      <h2> 照片1 </h2>
      <img src="/resource/image/b1.png" style=" width: 100%; max-width: 600px;" />
    </div>
    <h2> 2222 </h2>
    <img src="/resource/image/b2.png" style=" width: 100%; max-width: 600px;"  />

  </body>
</html>


