<!DOCTYPE HTML>
<html>
  <head>
    <title>分享微信测试</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <p> 第一张图片 250ok 400ok  450ok 50NotOK 700ok  100NotOK  200NotOK  300ok   220NotOK </p>
        <img src="/resource/image/img220.png"  alt="图片旁边的文字" />

        <br/><hr/>
  	<div> 
  		<p> version = 2 </p>
  		<p> 这事分享给微信的文字 </p>
  		<ul>
	      <% for(var i=1; i<=15; i++) {%>
	      <li>  文字文字文字文字 ==    <%= i %></li>
	      <% } %>
	    </ul>
  	</div>


  	<div>
  		<p> 下边是一张图片 </p>
  		<img src="/resource/image/datou.png"  alt="图片旁边的文字" />

  		<p> 下边是另一张图片 </p>
  		<img src="/resource/image/gamelook1.jpeg"  alt="图片旁边的文字" />
  	</div>

  

  </body>
</html>




